[MySQL]
host = localhost
user = root
password = root

[PostgreSQL]
host = localhost
user = postgres
password = postgres
port = 5432

[tpcds]
data_folder = /path/to/where/tpcds/data/are
schema_script_path = path/to/the/tpcds/schema/creating/script/tpcds.sql